@charset "UTF-8";
/* Estilo padrão (para telas grandes, como desktops) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap");
.container {
  width: 80%;
  margin: 0 auto;
}

/* Tablets */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
/* Smartphones */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
/* Exemplo para telas muito pequenas, como alguns smartphones */
@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}
body {
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
}

.btn {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  border: none;
}
.btn__Default {
  background-color: #9E9E9E;
  padding: 7px 10px;
  border-radius: 5px;
}
.btn__Default span {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0%;
}
.btn__unStyled {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}
.btn__Outlined {
  background-color: transparent;
  border: 1px solid #3A3D32;
  padding: 13px 14px;
  border-radius: 5px;
}
.btn__Outlined span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0%;
  color: #3A3D32;
  text-transform: uppercase;
}
.ArquitetosBanner {
  width: 100%;
  background-color: white;
}
.ArquitetosBanner > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.ArquitetosBanner > div .info,
.ArquitetosBanner > div .image {
  width: 50%;
  height: 478px;
}
.ArquitetosBanner > div .info img,
.ArquitetosBanner > div .image img {
  width: 100%;
  height: 478px;
}
.ArquitetosBanner > div .info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.ArquitetosBanner > div .info h3 {
  font-family: Poly-;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #3A3D32;
  margin-top: 0px;
}
.ArquitetosBanner > div .info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5019607843);
  max-width: 709px;
}
@media (min-width: 900px) {
  .ArquitetosBanner > div > h3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .ArquitetosBanner > div {
    flex-direction: column-reverse;
    padding: 0px 25px;
    box-sizing: border-box;
    gap: 0px;
  }
  .ArquitetosBanner > div > h3 {
    font-family: Poly;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #3A3D32;
    margin-bottom: 0px;
  }
  .ArquitetosBanner > div .info,
  .ArquitetosBanner > div .image {
    width: 100%;
    height: 240px;
  }
  .ArquitetosBanner > div .info img,
  .ArquitetosBanner > div .image img {
    height: 240px;
  }
  .ArquitetosBanner > div .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  .ArquitetosBanner > div .info h3 {
    display: none;
  }
  .ArquitetosBanner > div .info p {
    margin-top: 55px;
  }
  .ArquitetosBanner > div .image img {
    width: 100%;
  }
}
.SobreNosBanner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.031372549);
}
.SobreNosBanner > div {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.SobreNosBanner > div .info,
.SobreNosBanner > div .image {
  width: 850px;
}
.SobreNosBanner > div .info img,
.SobreNosBanner > div .image img {
  width: 100%;
}
.SobreNosBanner > div .info h3 {
  font-family: Poly-;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #3A3D32;
  margin-top: 0px;
  margin-bottom: 0px;
}
.SobreNosBanner > div .info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5019607843);
  max-width: 709px;
}
@media (min-width: 900px) {
  .SobreNosBanner > div > h3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .SobreNosBanner > div {
    flex-direction: column;
    padding: 0px 25px;
    box-sizing: border-box;
  }
  .SobreNosBanner > div > h3 {
    font-family: Poly;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #3A3D32;
    margin-bottom: 0px;
  }
  .SobreNosBanner > div .info,
  .SobreNosBanner > div .image {
    width: 100%;
  }
  .SobreNosBanner > div .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  .SobreNosBanner > div .info h3 {
    display: none;
  }
  .SobreNosBanner > div .image img {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .SobreNosBanner {
    position: relative;
    top: 90px;
    padding-bottom: 45px;
  }
  .SobreNosBanner > div {
    gap: 20px;
  }
}
footer {
  background-color: #FFFFFF;
}
footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  box-sizing: border-box;
}
footer > div .Description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer > div .Description .LogoContainer {
  max-width: 223px;
  width: 100%;
  max-height: 177px;
  height: 100%;
}
footer > div .Description .LogoContainer img {
  width: 100%;
  height: auto;
}
footer > div .Description .socialAndDesc > p {
  max-width: 366px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5019607843);
}
footer > div .Description .socialAndDesc div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
footer > div .Description .socialAndDesc div strong {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5019607843);
  margin-right: 5px;
}
footer > div .contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer > div .contactContainer strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #3A3D32;
}
footer > div .contactContainer .ContactList {
  border-left: 1px solid rgba(0, 0, 0, 0.5019607843);
  box-sizing: border-box;
  padding-left: 15px;
  max-height: 145px;
  padding-left: 15px;
}
footer > div .contactContainer .ContactList > div {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
  margin: 10px 0px;
}
footer > div .contactContainer .ContactList > div div {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  max-width: 210px;
}
@media (max-width: 768px) {
  footer > div {
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
  }
  footer > div .Description {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer > div .Description .socialAndDesc > div {
    justify-content: center;
  }
  footer > div .contactContainer {
    flex-direction: column;
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.5019607843);
    padding: 20px 0px;
    margin-top: 20px;
  }
  footer > div .contactContainer .ContactList {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
  }
  footer > div .contactContainer .ContactList > div {
    margin: 7px 0px;
  }
  footer > div .contactContainer .ContactList > div div {
    font-size: 20px;
    max-width: 281px;
    color: rgba(0, 0, 0, 0.5019607843);
  }
}
footer .Dev {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #9E9E9E;
  box-sizing: border-box;
  gap: 10px;
}
footer .Dev h3 {
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin: 0px;
}
header {
  background-color: rgba(58, 61, 50, 0.9490196078);
}
header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
@media (min-width: 900px) {
  header > div .MobileSearchButton {
    display: none;
  }
}
@media (max-width: 768px) {
  header > div {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    max-width: 95vw;
    padding-left: 45px;
    box-sizing: border-box;
  }
}
header > div .LogoContainer {
  width: 265px;
  height: 50px;
}
header > div .LogoContainer img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  header > div .LogoContainer {
    width: 173px;
    height: 38px;
  }
}
header > div .Utils {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header > div .Utils a {
  font-weight: 600;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0%;
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {
  header > div .Utils a {
    display: none;
  }
  header > div .Utils button {
    position: absolute;
    left: 15px;
  }
  header > div .Utils button:first-of-type {
    display: none;
  }
}