/* Estilo padrão (para telas grandes, como desktops) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 80%;
    margin: 0 auto;
}

/* Tablets */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Smartphones */
@media (max-width: 480px) {
    .container {
        width: 100%;
    }
}

/* Exemplo para telas muito pequenas, como alguns smartphones */
@media (max-width: 320px) {
    .container {
        width: 100%;
    }
}


body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins";
}


.btn {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    border: none;

    &__Default {
        background-color: #9E9E9E;
        padding: 7px 10px;
        border-radius: 5px;

        span {
            color: #FFFFFF;
            font-weight: 600;
            font-size: 12px;
            line-height: 15.6px;
            letter-spacing: 0%;

        }
    }

    &__unStyled {
        background-color: transparent;
        width: fit-content;
        height: fit-content;
    }
}